body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
    color: #111;
    transition: 0.3s;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #1e1e1e, #444);
    color: white;
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #f4f4f4;
    padding: 40px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Modo oscuro */
.dark {
    background: #111;
    color: white;
}

.dark .card {
    background: #222;
}
